.eisenhower_label {
    color: #d2d2d2;
    padding: 0.5em 2em 0.5em 2em;
    height: 3em;
    border-radius: 5px;
}

.eisenhower {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
    position: relative;
}

.category_field {
    width: 47%;
    height: 10em;
    background-color: transparent;
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.task_span {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background-color: #d2d2d2;
    border-radius: 4px;
    padding: 3px;
}

.do {
    background-color: #304225;
}

.border-top-right {
    border-left: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}

.delegate {
    background-color: #215F5E;
}

.border-bottom-right {
    border-left: 1px solid #9e9e9e;

}

.schedule {
    background-color: #7b7131;
}

.border-top-left {
    border-bottom: 1px solid #9e9e9e;
}

.eliminate {
    background-color: #531515;
}