.category-title {
    font-size: 2em;
    margin: auto;
    color: #ffffff;
}

.tasktitle {
    font-size: 1.6em;
    color: #f2f2f2;
}

.taskdescription {
    color: #c3cad1
}

.deletebutton {
    float: right;
}