.formcontainer {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 2em;
}

form {
    padding: 5% !important;
    width: 80%;
}

#hint_id_is_superuser {
    display: none;
}

.btn {
    margin-top: 1em;
}

.asteriskField {
    margin-left: 1em;
}