{% extends 'base/header.html' %}
{% block navbar %}
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <span class="title">{{ title }}</span>
    </nav>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <a href="#user">
                    <img class="circle"
                         src="https://eu.ui-avatars.com/api/?name={{ user.first_name }}+{{ user.last_name }}&background=random"
                         alt="User profile picture"
                    >
                </a>
                <a href="#name"><span class="white-text name">{{ fullname }} | {{ username }}</span></a>
                <a href="#email"><span class="white-text email">{{ email }}</span></a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{% url 'tasklist' %}" class="waves-effect"><i class="material-icons">list_alt</i>Task list</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">grid_view</i>Matrix view</a></li>
        <li><a href="{% url 'add_task' %}" class="waves-effect"><i class="material-icons">add</i>New task</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">settings</i>Settings</a></li>
        {% if user.is_superuser %}
            <li>
                <a class="waves-effect" href="{% url 'adduser' %}"><i class="material-icons">person_add_alt</i>Add user</a>
            </li>
        {% endif %}
    </ul>
    <div class="offset-content">
        {% block offset_content %}
        {% endblock %}
    </div>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}