{% extends 'base/header.html' %}
{% block navbar %}
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <span class="title">{{ title }}</span>
    </nav>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <a href="#user"><img class="circle" src=""></a>
                <a href="#name"><span class="white-text name">{{ fullname }} | {{ username }}</span></a>
                <a href="#email"><span class="white-text email">{{ email }}</span></a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="#" class="waves-effect"><i class="material-icons">list_alt</i>Task list</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">grid_view</i>Matrix view</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">add</i>New task</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">settings</i>Settings</a></li>
    </ul>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}