{% extends 'base/menubar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block offset_content %}
    <link rel="stylesheet" href="{% static 'css/add_task.css' %}">
    <link rel="stylesheet" href="{% static 'css/eisenhower.css' %}">
    <div class="eisenhower row">
        <span class="task_span" id="taskspan"></span>

        <div class="category_field border-top-left">
            <span class="eisenhower_label z-depth-2 schedule">Schedule</span>
        </div>
        <div class="category_field border-top-right">
            <span class="eisenhower_label z-depth-2 do">Do</span>
        </div>
        <div class="category_field border-bottom-left">
            <span class="eisenhower_label z-depth-2 eliminate">Eliminate</span>
        </div>
        <div class="category_field border-bottom-right">
            <span class="eisenhower_label z-depth-2 delegate">Delegate</span>
        </div>
    </div>
    <div class="row formcontainer">
        {% csrf_token %}
        {% crispy form %}
    </div>
    <script type="text/javascript">
        const exp_field = $('#div_id_exponent');
        const m_field = $('#div_id_m');
        const taskspan = $('#taskspan');

        $(document).ready(function () {
            $('select').formSelect();

            //hide unused input fields
            m_field.hide();
            exp_field.hide();

            {% if success %}
                M.toast({html: '{{ success }}'})
            {% endif %}

            {% if error %}
                M.toast({html: '{{ error }}'})
            {% endif %}
        });

        //change displayed fields depending on selected function
        $('select[name=modifier_function]').change(function () {
            switch ($(this).val()) {
                case 'l':
                    exp_field.hide();
                    m_field.show();
                    break;
                case 'e':
                    m_field.hide();
                    exp_field.show();
                    break;
                case 'n':
                    m_field.hide();
                    exp_field.hide();
                    break;
            }
        });

        //change label when title is changed
        $('input[name=title]').on('input', function () {
            taskspan.text($('input[name=title]').val());
        });

        //change position when sliders are changed
        $('input[name=importance]').on('input', function () {
            taskspan.css('bottom', $('input[name=importance]').val() + '%');
        });

        $('input[name=urgency]').on('input', function () {
            taskspan.css('left', $('input[name=urgency]').val() + '%');
        });
    </script>
{% endblock %}