{% extends "base/menubar.html" %}
{% load static %}
{% block offset_content %}
    <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
    <div class="row s12">
        <div class="col s12">
            {% for category in categories %}
                <ul class="collection with-header">
                    <li class="collection-header" style="background: {{ category.color }}">
                        <span class="category-title">
                            {{ category }}
                        </span>
                        <a class="btn-floating btn-small waves-effect waves-light red deletebutton"
                           onclick='deleteCategory("{{ category }}")'>
                            <i class="material-icons">delete</i>
                        </a>
                    </li>
                    {% for task in tasks %}
                        {% ifequal task.category category %}
                            <li class="collection-item">
                                <span class="tasktitle">{{ task.title }}</span>
                                <br>
                                <span class="taskdescription">{{ task.description }}</span>
                            </li>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        function deleteCategory(category) {
            let confirmed = confirm("Are you sure you want to delete the " +
                "category \"" + category + "\"? This will also delete all associated tasks!");

            if (confirmed) {
                //TODO: Implement task deletion here via API call
                console.log(confirmed);
            }
        }
    </script>
{% endblock %}